.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
}
.titulo {
  color: #292a2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
padding-bottom: 2px;
  margin-top: 190px;
  margin-left: 80px;
}
.logo{
  text-decoration: none;
  list-style:none;
  color: #f7f7f7;
}
.nombre {
  margin-bottom:  5px;
  font-size: 70px;
}
.subtitulo{
margin-top: 0px;
font-size: 19px;
margin-bottom: 0px;
}
.subtitulo1{
  font-size: 32px;
  margin-top: 0px;
}
.subtitulo2{
  margin-top: 0px;
  font-size: 19px;
}
.epigrafe {
  font-family: 'Open Sans', sans-serif;
  color: #292a2c;
  margin-left: 80px;
  font-size: 2.5 rem;
}
.img {
  border: solid 1.5px #292a2c; 
  width: 18.3rem;
  height: 25rem;
  position: absolute;
  margin-left: 60%;
  margin-top: -360px;
  padding: 1%;
}
.link {

  color: #292a2c;
  font-size: 1.8rem;
  position: relative;
  margin-right: 30px;
}
.linkspack{
  margin-left: 80px;
}
.foto {
  position: sticky;
  width: 20rem;
  margin-top: -27px;
  margin-left: -26px;
}

.blue {
  font-weight:bold;
  color: #0082C6;
  text-decoration: none;
  transition-duration: 500ms;
  
}
.blue:hover{
  color: black;
}
.line{
  border: solid 1.5px #292a2c;
  margin-top: 60px;
  margin-left: 5.5%;
  margin-right: 8%;
}


.healthy{
  width: 600px;
  height: 400px;
  padding: 2%;
  margin-left: 50px;
  margin-top: 70px;
}
.dog{
  width: 600px;
  height: 400px;
  padding: 2%;
  margin-left: 50px;
  margin-top: 70px;
}
.umoob {
  width: 600px;
  height: 500px;
  padding: 2%;
  margin-left: 50px;
  margin-top: 70px;
}
.epigrafeproject{
  font-weight: 700;
  font-family: 'Lato';
  color: #292a2c;
  margin-left: 80px;
  font-size: 5 rem;
  margin-top: 91px;
}
.details{
  color: #292a2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-left: 80px;
}
.footer{
  
  font-family: 'Lato';
  font-size: 30px;
  margin-left: 40px;
  text-align:center;
  margin-top: 150px;
  margin-bottom: 250px;
}
.footertitle{
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 888px) {
  .img {
    margin-left: -500px;
    margin-top: -500px;
  
  }
  .foto{
    margin-top: -27px;
    margin-left: -500px;
  }
  .titulo {
    margin-left: 50px;
    margin-top: 100px;
  }
  .epigrafe {
    margin-left: 50px;
  }
   .details{
    margin-left: 50px;
  }
  .linkspack {
    margin-left: 50px;
  }
  .epigrafeproject{
    margin-left: 50px;
  }
  .line {
    margin-left: 50px;
    border: solid 1px #292a2c;
  }
  .healthy {
    width: 230px;
    height: 220px; 
    margin-left: 50px;  
    
  }
  .umoob{
    width: 230px;
    height: 221px; 
    margin-left: 50px; 
  }
  .dog {
    width: 229px;
    height: 221px; 
    margin-left: 50px; 
    margin-right: 40px;
  }

}