.navbar {
  width: 100%;
  height: 40px;
  border: solid white;
  padding: 0;
  margin: 0;
  box-shadow: #292a2c;
  color: #000;
}
.titulo {
  color: #292a2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
padding-bottom: 2px;
  margin-top: 190px;
  margin-left: 80px;
}
.nombre {
  margin-bottom:  5px;
  font-size: 70px;
}
.subtitulo{
margin-top: 0px;
font-size: 19px;
margin-bottom: 0px;
}
.subtitulo1{
  font-size: 32px;
  margin-top: 0px;
}
.subtitulo2{
  margin-top: 0px;
  font-size: 19px;
}
.epigrafe {
  font-family: 'Open Sans', sans-serif;
  color: #292a2c;
  margin-left: 80px;
  font-size: 2.5 rem;
}
.img {
  border: solid #292a2c; 
  width: 18.3rem;
  height: 25rem;
  position: absolute;
  margin-left: 60%;
  margin-top: -360px;
  padding: 1%;
}
.link {

  color: #292a2c;
  font-size: 1.8rem;
  position: relative;
  margin-right: 30px;
}
.linkspack{
  margin-left: 80px;
}
.foto {
  position: sticky;
  width: 20rem;
  margin-top: -27px;
  margin-left: -26px;
}

.blue {
  font-weight:bold;
  color: #0082C6;
  text-decoration: none;
  transition-duration: 500ms;
  
}
.blue:hover{
  color: black;
}
.line{
  border: solid #292a2c;
  margin-top: 60px;
  margin-left: 5.5%;
  margin-right: 8%;
}

@media (max-width: 888px) {
  .img {
   display: none;
  }
  .foto{
  display: none;
  }
  }